mongoConnectionString=""
security16User="user"
security16Password=""
security16Database="Security_16"
security16Host="localhost"
adyenCookie=""
PGUSER=root
PGPASSWORD=password
PGHOST=host.docker.internal
PGPORT=5433
PGDATABASE=snow

# AWS credentials refresh command configuration (Manage Port Forwards page)
# Profile used for `aws sso login`.
PORT_FORWARD_AWS_SSO_LOGIN_PROFILE=prod_access_1

# Mapping format:
#   credentialProfile,configProfile,role,accountId,region;credentialProfile,configProfile,role,accountId,region
# Example:
PORT_FORWARD_AWS_PROFILE_MAPPINGS=prod_access,prod_access,Developer,367507620554,us-east-1;dev_access,dev_access,Developer,489561981168,us-east-1;snap_dev,dev_access,Developer,268853364163,us-east-1;snap_stage,ovrc_stage,Developer,642727902844,us-east-1;ovrc_prod_ssm,prod_access_1,SsmUser,445822975327,us-east-1

# CodeArtifact token profile/domain used during refresh.
PORT_FORWARD_AWS_CODEARTIFACT_PROFILE=prod_access
PORT_FORWARD_AWS_CODEARTIFACT_DOMAIN=control4

SNOWDB_HOST=host
SECURITY16_FORWARDING_HOST=127.0.0.1
SNOWDB_FORWARD_USER=user@aws-host.com