# API runtime
PORT=3003

# Security16 SQL Server
security16User=
security16Password=
security16Database=Security_16
security16Host=host.docker.internal
security16Port=1433

# OvrC Mongo
mongoConnectionString=

# Adyen
adyenCookie=
ADYEN_PSP_URL=https://ca-live.adyen.com/ca/ca/ui-api/payments/v1/account/account

# SnowDB Postgres
PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=host.docker.internal
PGPORT=5433
